<nav #navbar class="navbar active">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" onClick="return false;" class="navbar-toggle collapsed"
        (click)="isNavbarCollapsed = !isNavbarCollapsed" aria-expanded="false"></a>
      <a href="#" onClick="return false;" class="bars" (click)="mobileMenuSidebarOpen($event,'overlay-open')"></a>
      <a class="navbar-brand" routerLink={{homePage}}>
        <img src="assets/images/logo.png" alt="" />
        <span class="logo-name">Salvera</span>
      </a>
    </div>
    <div class="collapse navbar-collapse" [ngClass]="isNavbarCollapsed ? '' : 'show'">
      <ul class="float-start collapse-menu-icon">
        <li>
          <button mat-icon-button (click)="callSidemenuCollapse()" class="sidemenu-collapse nav-notification-icons"> <i
              class="material-icons-outlined icon-color">
              menu
            </i></button>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!-- Global Search Button -->
        <li>
          <button mat-icon-button class="nav-notification-icons" (click)="openSearch()">
            <i class="material-icons-outlined icon-color">search</i>
          </button>
        </li>
        <!-- Full Screen Button -->
        <li class="fullscreen">
          <button mat-icon-button class="nav-notification-icons" (click)="callFullscreen()"> <i
              class="material-icons-outlined icon-color">
              fullscreen
            </i></button>
        </li>
        <!-- #END# Full Screen Button -->
        <!-- #START# Notifications-->
        <li>
          <app-notification-list [notifications]="notifications" (markAllAsRead)="onMarkAllNotificationsRead()"
            (readAll)="onReadAllNotifications()" (closeNotification)="onRemoveNotification($event)"
            (actionClick)="onNotificationActionClick($event)">
          </app-notification-list>
        </li>
        <!-- #END# Notifications-->
        <!-- #START# Multi Language-->
        <li class="nav-item">
          <app-language-list [flagvalue]="flagvalue" [defaultFlag]="defaultFlag" [listLang]="listLang"
            [langStoreValue]="langStoreValue" (languageSelected)="onLanguageChange($event)">
          </app-language-list>
        </li>
        <!-- #END# Multi Language-->
        <li class="nav-item user_profile">
          <app-user-profile-menu [userName]="'Ella Jones'" [userImg]="userImg!" (accountClicked)="onAccountClicked()"
            (inboxClicked)="onInboxClicked()" (settingsClicked)="onSettingsClicked()" (logoutClicked)="logout()">
          </app-user-profile-menu>
        </li>
      </ul>
    </div>
  </div>
</nav>